@(username: String, url : String)

@main(username, "home"){
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="@routes.GameController.tictactoe()">
            <div class="caption text-center">
              <p>TicTacToe</p>
            </div>
            <img src="@routes.Assets.versioned("images/tictactoe.png")" alt="Lights" style="width:100%">
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="@routes.GameController.fourwins()">
            <div class="caption text-center">
              <p>Connect4</p>
            </div>
            <img src="@routes.Assets.versioned("images/tictactoe.png")" alt="Nature" style="width:100%">
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="@routes.GameController.battleship()">
            <div class="caption text-center">
              <p>Battleship</p>
            </div>
            <img src="@routes.Assets.versioned("images/tictactoe.png")" alt="Fjords" style="width:100%">
          </a>
        </div>
      </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            example.OnlineMemberList().shoutMessageLogic("@username",
                document.getElementById("send"),
                document.getElementById("message"),
                new WebSocket("@url"));
        }, false);
    </script>
}