@(username: String, url : String)

@nochatmain(){

    <div align = "center">
        Hello @username! Welcome to PlayGames! :) <br>
        <a href=@routes.GameController.tictactoe()>[TicTacToe]</a> <br>
        <a href=@routes.GameController.tictactoe()>[4 Gewinnt]</a>
    </div>
    <a href=@routes.GameController.stupidbutton()>[StupidButton]</a>

    <div align = "center">
        <a href=@routes.Application.scores()>Show Highscores</a> <br>
    </div>
    <div align = "right">
    <a href=@routes.Application.logout()>Logout</a>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            example.OnlineMemberList().shoutMessageLogic("@username",
                document.getElementById("send"),
                document.getElementById("message"),
                new WebSocket("@url"));
        }, false);
    </script>
    </div>
}