@(users : Seq[model.User], username : String)(implicit request: RequestHeader)
@main(username,"") {
    <div class="user-display" >
        <fieldset>
            <legend align="center"><h3>Registrierte User</h3></legend>
            <table cellspacing="20">
                <tr>
                    <th>UserID</th>
                    <th>Username</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Email</th>
                </tr>
                @for(user <- users){
                    <tr>
                        <td>@user.id</td>
                        <td>@user.userName</td>
                        <td>@user.firstName</td>
                        <td>@user.lastName</td>
                        <td>@user.email</td>
                    </tr>
                }
            </table>
        </fieldset>
    </div>

}
