@(loginForm: Form[model.LoginData], errorMessage: String)(implicit messages: Messages)
@implicitFC = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }

@nochatmain(){
    <div align="center" style="text-align: center; color: red; margin: auto;">
        @errorMessage
    </div>
    <div class="panel panel-primary" style="text-align: center; width:40%; margin: auto;">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            @b3.form(action= routes.Application.login(), 'id -> "login-form", 'method -> "post") {
            @b3.text(loginForm("Username"), '_label -> "Username", 'placeholder -> "Your Username")
            @b3.password(loginForm("Password"), '_label -> "Password", 'placeholder -> "Your Password")
            <button type="submit" class="btn btn-success">
                Go!
            </button>
        </div>
    </div>
    <div align = "center">
        <br>
        <a href=@routes.Application.registration()>Register</a>
    </div>
    }
}
