@(userForm: Form[model.UserData], errorMessage: String)(implicit messages: Messages)
@main() {
    <div align="center">
        <h1>Register at PlayGames! :)</h1>
        @helper.form(action= routes.Application.addUser(), 'method -> "post", 'id -> "registration-form", 'method -> "post") {
            @helper.inputText(userForm("Vorname"))
            @helper.inputText(userForm("Nachname"))
            @helper.inputText(userForm("Username"))
            @helper.inputText(userForm("Email"))
            @helper.inputPassword(userForm("Passwort"))
            <button type="submit">Register!</button></div>
    }
    <div align="center">
        <br>
        @errorMessage
        <a href=@routes.Application.index()>Login</a>  <!-- only if errorMessage == "" -->
    </div>
}