@(userForm: Form[model.UserData], errorMessage: String)(implicit messages: Messages)

@implicitFC = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }
@nochatmain() {
    <div align="center" style="text-align: center; color: red; margin: auto;">
        @errorMessage
    </div>
    <div class="panel panel-primary" style="text-align: center; width:40%; margin: auto;">
        <div class="panel-heading">Register</div>
        <div class="panel-body">
            @b3.form(action= routes.Application.addUser(), 'method -> "post", 'id -> "login-form", 'method -> "post") {
            @b3.text(userForm("Vorname"),'_label -> "First Name", 'placeholder -> "Your First Name")
            @b3.text(userForm("Nachname"),'_label -> "Last Name", 'placeholder -> "Your Last Name")
            @b3.text(userForm("Username"),'_label -> "Username", 'placeholder -> "Your Username")
            @b3.text(userForm("Email"),'_label -> "E-Mail Address", 'placeholder -> "Your E-Mail Address")
            @b3.password(userForm("Passwort"),'_label -> "Password", 'placeholder -> "Your Password")
            <button type="submit" class="btn btn-success">Register!</button></div>
    }
    </div>
    <div align="center">
        <a href=@routes.Application.index()>Login</a>
    </div>
}