@(username: String, url : String)

@main(){
  Hello @username! Welcome to StupidButton! :)
    <div align = "center">
        <a href=@routes.Application.logout()>Logout</a>
    </div>
    <button id="stupidbutton" class="btn btn-primary disabled">Click Me</button>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            example.StupidButtonApp().shoutMessageLogic("@username",
                document.getElementById("send"),
                document.getElementById("message"),
                document.getElementById("stupidbutton"),
                new WebSocket("@url"));
        }, false);
    </script>
}