/*
 * Tic Tac Toe css
 */
#gameContainer {
  width: 609px;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#gameField {
  width: 604px;
  height: 603px;
  border: 2px #171212 solid;
  padding: 0;
  margin: 0;
  border-radius: 4px 4px 0 0;
}

#gameField img{
  padding: 0;
  margin: 0;
}

#gameField div {
  cursor: pointer;
  float: left;
  position: relative;
  height: 200px;
  width: 200px;
  border: 1px #3c763d solid;
}

#gameField div img{
  width: 100%;
  height: 100%;
}

/*
 * Four Wins css
 */
#gameContainerFourWins {
  width: 350px;
}

#gameFieldFourWins {
  width: 350px;
  height: 300px;
  padding: 0;
  margin: 0;
}

#gameFieldFourWins img{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#gameFieldFourWins div{
  background-image: url("/assets/images/four-wins-block.jpg");
  cursor: pointer;
  float: left;
  position: relative;
  height: 50px;
  width: 50px;
}


/*
 * BattleShip css
 */
#gameContainerBattleShip {
  width: 700px;
}

.gameFieldBattleShip {
  width: 320px;
  height: 320px;
  padding: 0;
  margin: 0;
  float: left;
  position: relative;
  margin-right: 30px;
}

.gameFieldBattleShip div{
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
  cursor: pointer;
}

.gameFieldBattleShip div{
  width: 32px;
  height: 32px;
  border: 1px solid #B4B4FF;
}

.gameFieldBattleShip div img{
  width: 100%;
  height: 100%;
}