#gameContainer {
  width: 609px;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#gameField {
  width: 604px;
  height: 603px;
  border: 2px #171212 solid;
  padding: 0;
  margin: 0;
}

#gameField img{
  padding: 0;
  margin: 0;
}

.gameBlock {
  cursor: pointer;
  float: left;
  position: relative;
  height: 200px;
  width: 200px;
  border: 1px #3c763d solid;
}

.gameBlock img{
  width: 100%;
  height: 100%;
}

